PORT=5000
MONGODB_URI=mongodb+srv://nandini162007:nandhu123@cluster0.4ydemk7.mongodb.net/railsafe?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=railsafe-demo-secret
CLIENT_URL=http://localhost:5174